<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div class="side head">
        <h2>{{name}}</h2>
        <p><label>학과</label><span> {{dept}}</span></p>
        <p><label>학년</label><span> {{year}}</span></p>
        <p><label>교수명</label><span> {{prof}}</span></p>
        <p class="semesters"><label>평점</label><span>{{stars}}</span></p>
        <hr>
    </div>

    <form method="POST" action="/posts/newreply">
        {% csrf_token %}
        <input type="hidden" value="{{name}}+{{prof}}" name="blog">
        평가 작성 : <input type="text" name="comment_body"></input>
        <input type="text" name="comment_stars"></input>
        <button type="submit" class="btn btn-secondary">작성</button>
    </form>

    <div id="comment">
        
        {% for comment in post.course_comments.all %}
        <div class="comment-list">
            <a href="#">{{ comment.post }}</a>
            <p>{{ comment.star }}</p>

            <small>{{ comment.created_date }}</small>
            {% if comment.post == request.user %}<a href="{% url 'remove' pk=comment.pk %}">삭제</a>{% endif %}
            <p>{{ comment.contents|linebreaks }}</p>
        </div>
        {% empty %}
        <div class="comment-list">
            <p>작성된 평가가 없습니다!</p>
        </div>
        {% endfor %}
    </div>


</body>

</html>