<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div class="side head">
        
        <h2>{{name}}</h2>
        <p><label>학과</label><span> {{dept}}</span></p>
        <p><label>학년</label><span> {{year}}</span></p>
        <p><label>교수명</label><span> {{prof}}</span></p>
        <p class="semesters"><label>평점</label><span>{{stars}}</span></p>
        <hr>
    </div>





</body>

</html>